@import "tailwindcss";


@theme {
  --breakpoint-media440: 27.5em;
}
.section-container {
    @apply px-6 md:px-12 max-w-[1440px] mx-auto
}
 #mobile-menu {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.4s ease-in-out;
    }
    #mobile-menu.open {
      max-height: 400px; 
    }
